menu "Pisces application"

menuconfig RT_USING_OLPC_DEMO
    bool "olpc demo enable"
    default n

if RT_USING_OLPC_DEMO
    choice
        prompt "olpc functions select"
        default OLPC_APP_CLOCK_ENABLE

        config OLPC_APP_CLOCK_ENABLE
            bool "olpc clock demo enable"

        config OLPC_LVGL_CLOCK_ENABLE
            bool "olpc lvgl GUI clock demo enable"
            depends on RT_USING_LITTLEVGL2RTT

        config OLPC_APP_EBOOK_ENABLE
            bool "olpc ebook demo enable"
    endchoice

    if OLPC_APP_CLOCK_ENABLE
        choice
            prompt "olpc clock style select"
            default OLPC_APP_CLOCK_STYLE_ROUND_ARABIC

            config OLPC_APP_CLOCK_STYLE_ROUND_ARABIC
                bool "select round disc with Arabic number"

            config OLPC_APP_CLOCK_STYLE_ROUND_ROMAN
                bool "select round disc with Roman number"
        endchoice
    endif

    if OLPC_APP_EBOOK_ENABLE
        config OLPC_APP_EBOOK_USE_BTN
            bool "olpc ebook use button enable"
            default n
    endif
endif

endmenu
